.formcs {
   --background: url(../../assets/images/bg.png)  0 0/100% 100% no-repeat;
}

.login {
    margin-top: 40%;

}


ion-item {
    // --background: rgba(0,0,0,0);
    // --color: white;
    // --highlight-color-focused: white;
    // --ion-color-primary:white;
    --color: white;
}

.bg-transparent {
    background: transparent;
}

.uncover {
    font-size: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block; 
    color: #ffffff;
}

