<ion-header>
  <ion-toolbar>
    <ion-title>Promotions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <span>My Promotions</span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let promo of promolist" col-6 no-padding>
      <ion-card button [routerLink]="['/details', promo.id]">
        <img *ngIf="promo.url" [src]="promo.url"/>
        <ion-card-header>
          <ion-card-title>{{promo.Name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="fixline">
          <p>{{ promo.Description }}</p>
          
         <button class="promodate" onClick="extDate">{{promo.startDate}} - {{promo.endDate}}</button>
        </ion-card-content>
      </ion-card>  
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
