.promodate{
  background: rgb(45, 186, 241);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 8px;
}

.title {
  margin-top: 6px;
  margin-bottom: 10px;
}

 ion-card {
   display: flex;
   flex-direction: column;
   height: 100% !important;
   margin: 0 !important;
 }
 
 ion-content {
   text-align: center;
   font-weight: bold;
 }

 ion-card-title {
   font-weight: bold;
   font-size: 12px;
 }

 .fixline{
   font-size: 12px;
 }
