<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="body">
  <ion-row>
    <ion-col class="12">
      <div class="transactionMSG">
        <span>QR Code is valid</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="12">
      <div class="transactionPrmpt">
        <span>Please enter purchase amount</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="12">
      <div class="inputAmt">
        <span>RM:<input type="text" name="amount" id="enterAmt" [(ngModel)]="amount"></span>
        <button type="submit" class="enterbtn ion-activatable" (click)="presentModal()"><ion-ripple-effect></ion-ripple-effect>Continue</button>
      </div>
    </ion-col>
  </ion-row>
</div>
</ion-content>
