<!-- <ion-header no-border translucent="true">
  <ion-toolbar>
    <ion-title>Home</ion-title> 
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen="true" class="background">
  <div class="greetings">
    <div class="module">
      <span><b>{{time}}</b><br/></span>
      <span><b>{{greet}}</b></span>
      <span>{{username}}</span>
    </div>
    <button class="btnStart" routerLink="/tabs/promotions">Scan now</button>
  </div>


  <ion-item-divider>
    <ion-label>Recent promotions</ion-label>
    <a routerLink="/tabs/promotions" style="text-decoration:none; margin-left: auto; margin-right: 5px; font-size: 12px;">See More ></a>
    <!-- <ion-button class="ion-margin-end" size="small" slot="end"  fill="outline" (click)="viewDetails()">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-button> -->
  </ion-item-divider>
  
  <ion-grid>
    <ion-col>
      <ion-slides [options]="imgSlideOpt" class="slides">
        <ion-slide *ngFor="let promo of promolist">
          <ion-card button [routerLink]="['/details', promo.id]" class="test">
            <img [src]="promo.url"/>
            <ion-card-header>
              <ion-card-title>{{promo.Name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="botdes">
              <p>{{ promo.Description }}</p>
              
              <p class="promodate">{{promo.startDate}} - {{promo.endDate}}</p>
            </ion-card-content>
          </ion-card>
          </ion-slide>
      </ion-slides>

    </ion-col>
  </ion-grid>
</ion-content>