// ::-webkit-scrollbar, *::-webkit-scrollbar {
//     display: none;
//     overflow: hidden;
//   }

  // ion-content {
  //   overflow: hidden;
  //   --overflow: hidden;
  // }
  
  // .scroll-content {
  //   overflow: hidden;
  // }
  // ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
  //     overflow: scroll!important;
  //     height: 100%!important;
  //   }

  .greetings{
    
    background: linear-gradient(
      rgba(231, 91, 10, 0.564),
      rgba(0, 0, 0, 0.5)
    ),url(../../assets/images/bgpromo.jpg);
    background-size: cover;
    position: relative;
    height: 160px;
  }

  .module{
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
  }



//  ion-card{
//     display: contents;
//     flex-direction: column;
//     width: 100% !important;
//     margin: 0 !important;
//   }

.background{
   //--background: #fff;
}

ion-toolbar{
   // --background: #24d6ea;
}


.promodate{
  background: rgb(218, 215, 215);
  color: #34acf7;
  border: 2px solid transparent;
  border-radius: 8px;
}